# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop, release ]

jobs:
  test:

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: backend
    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
      env:
          HOST: localhost
          DATABASE: todoTest
          PAGINATION: 2
          SECRET: 'ey boss'
          ENVIRONMENT: release

  deploy_stage:
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/release'
    steps:
    - uses: actions/checkout@v2
    - uses: akhileshns/heroku-deploy@v3.4.6
      with:
        heroku_api_key: ${{secrets.HEROKU_API_KEY}}
        heroku_app_name: ${{secrets.HEROKU_TODO_STAGE}}
        heroku_email: ${{secrets.HEROKU_EMAIL}}

  deploy_prod:
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
    - uses: actions/checkout@v2
    - uses: akhileshns/heroku-deploy@v3.4.6
      with:
        heroku_api_key: ${{secrets.HEROKU_API_KEY}}
        heroku_app_name: ${{secrets.HEROKU_TODO_PROD}}
        heroku_email: ${{secrets.HEROKU_EMAIL}}
